<div class="row">
    <div class="twelve columns">
        <form method="post" action="/hunch/new">
            <div class="row">
                <div class="eight columns">
                    <h1>Create a hunch</h1>

                    {{#if msg}}
                    <h2 style="color:red;">
                        {{msg}}
                    </h2>
                    {{/if}}

					<select id="select-coders" name="coders[]" multiple class="demo-default" placeholder="Select some coders">
						<option value="">Select some coders...</option>
						{{#if coders}}
                            {{#each coders}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        {{else}}
                            <option>No coders</option>
                        {{/if}}
					</select>
                </div>
            </div>

            <div class="row">
                <div class="eight columns">
                    <div name="remaining-characters" class="u-full-width">
                        Remaing: (200)
                    </div>
                    <textarea maxlength="200" class="u-full-width" placeholder="What is this hunch about?" name="hunchDescription" required>{{#if hunchDescription}}{{hunchDescription}}{{/if}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
					<select id="select-tags" name="tags[]" multiple class="demo-default" placeholder="Select some tags">
						<option value="">Select some tags...</option>
                        {{#if tags}}
                            {{#each tags}}
                            <option value="{{id}}">{{tag_name}}</option>
                            {{/each}}
                        {{else}}
                            <option>No tags</option>
                        {{/if}}
					</select>
                </div>
            </div>

            <div class="row">
                <div class="ten columns">
                    <div class="two columns">
                        <input type="radio" name="rating" value="1">
                        <img src="/emoticons/1.gif" border="0" alt="Happy" title = "Happy emoticon" />
                    </div>

                    <div class="two columns">
                        <input type="radio" name="rating" value="2">
                        <img src="/emoticons/2.gif" border="0" alt="Observational" title = "Observational emoticon" />
                    </div>

                    <div class="two columns">
                        <input type="radio" name="rating" value="3">
                        <img src="/emoticons/3.gif" border="0" alt="Disappointed" title = "Disappointed emoticon" />
                    </div>

                    <div class="two columns">
                        <input type="radio" name="rating" value="4">
                        <img src="/emoticons/4.gif" border="0" alt="QuestionMark" title = "QuestionMark" />
                    </div>

                    <div class="two columns">
                        <input type="radio" name="rating" value="5">
                        <img src="/emoticons/5.gif" border="0" alt="ExclamationMark" title = "ExclamationMark" />
                    </div>
                </div>
            </div>

            <div class="row">
                <input class="five columns button-primary" type="submit" value="Submit">
                <a href="/" class="one columns" title="cancel">cancel</a>
            </div>
        </form>
    </div>
</div>