<div class="row">
    <div class="twelve columns">
        <form method="post" action="/hunch/new">
            <div class="row">
                <div class="six columns">
                    <h1>Create a hunch</h1>

                    {{#if msg}}
                    <h2 style="color:red;">
                        {{msg}}
                    </h2>
                    {{/if}}

					<select id="select-coders" name="coders[]" multiple class="demo-default" placeholder="Select some coders">
						<option value="">Select some coders...</option>
						{{#if coders}}
                            {{#each coders}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        {{else}}
                            <option>No coders</option>
                        {{/if}}

					</select>
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <textarea class="u-full-width" placeholder="What is this hunch about?" name="hunchDescription" required>{{#if hunchDescription}}{{hunchDescription}}{{/if}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
					<select id="select-tags" name="tags[]" multiple class="demo-default" placeholder="Select some tags">
						<option value="">Select some tags...</option>
                        {{#if tags}}
                            {{#each tags}}
                            <option value="{{id}}">{{tag_name}}</option>
                            {{/each}}
                        {{else}}
                            <option>No tags</option>
                        {{/if}}
						
					</select>

                </div>
                <div class="four columns">
                    <p id="tag_msg" style="color:red" hidden>{{#if tag_msg}} {{tag_msg}} {{else}} Enter name of tag {{/if}}</p>
                    <input class="five columns" type="button" name="add-tag" value="Add new tag">
                    <input class="six columns" name="new-tag" type="text"/>
                </div>
            </div>

            <div class="row">
                <div class="six columns">

                    <div class="four columns">
                        <input type="radio" name="rating" value="3">
                        <img src="/emoticons/1.gif" border="0" alt="Happy" title = "Happy emoticon" />
                        <label>Positive</label>
                    </div>

                    <div class="four columns">
                        <input type="radio" name="rating" value="2">
                        <img src="/emoticons/2.gif" border="0" alt="Observational" title = "Observational emoticon" />
                        <label>Informing</label>
                    </div>

                    <div class="four columns">
                        <input type="radio" name="rating" value="1">
                        <img src="/emoticons/3.gif" border="0" alt="Disappointed" title = "Disappointed emoticon" />
                        <label>Negative</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <input class="button-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
<script>
    $selectCoders = $('#select-coders').selectize({
    	plugins: ['remove_button'],
        delimiter: ',',
        persist: false,
        create: false,
        selectOnTab : true
    });

    $selectTags = $('#select-tags').selectize({
        plugins: ['restore_on_backspace', 'remove_button'],
        delimiter: ',',
        persist: false,
        selectOnTab : true,
        create: function(input) {

            return {
                value: input,
                text: input
            }
        }
    });

</script>
